body{
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN/cursor/Arrow.cur"),auto;
}
a,a *{
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN/cursor/Link Select.cur"),auto !important
}
article h1, article h2,article h3,article h4,article h5,article h6,p{
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN/cursor/Text.cur"),auto;
}
input{
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN/cursor/Text.cur"),auto;
}
code{
    cursor: url("https://cdn.jsdelivr.net/gh/thisred/CDN/cursor/Text.cur"),auto;
}
